:root {
  --max-width: 1100px;
  --border-radius: 12px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Mulish', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 20px;
  background-image: url(../../public/euc-aqua.png);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

h1 {
  font-family: 'Dawning of a New Day', cursive;
  margin-top: -60px;
  font-weight: 400;
  font-size: 100px;
}

.wrapper {
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 80px;
}

.bottom {
  font-weight: 200;
  font-size: 20px;
  margin-top: auto;
}

.bottom small {
  font-size: 14px;
}

#countdown {
  font-size: 28px;
  font-weight: 300;
  position: relative;
}

#countdown::before {
  content: 'Nos casamos en...';
  opacity: .8;
  white-space: nowrap;
  position: absolute;
  font-size: 16px;
  font-weight: 200;
  left: 50%;
  transform: translateX(-50%);
  top: -30px;
}